:root {
    --white: #fff;
    --dark-blue: #13293d;
    --tan: #d8a47f;
    --border-radius: 50px;
  }

  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  h1 {
    color:#2b333b;
    background: #8ac4ff;
    font-size: 2.5rem;
    padding-left: 100px;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1% 1% 1% 0%;    
    background: #2b333b;
  }
  
  nav {
    
  }
  
  nav a {
    color: #8ac4ff;
    padding: 14px 20px;
    text-decoration: underline 2px;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--white);
    color: var(--dark-blue);
  }
  
  main {
 
  }
  
  footer {
 
  }
  
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  