:root {
    --white: #fff;
    --dark-blue: #13293d;
    --tan: #d8a47f;
    --border-radius: 50px;
  }

  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  h1 {
    color:#2b333b;
    background: #8ac4ff;
    font-size: 2.5rem;
    padding-left: 100px;
  }
  
  h2 {
    font-size: 4rem;
    color: var(--textColor2);
    width: 110px;
    text-align: right;
    padding: 0;
    margin-left: 25px;
  }

  h3,h4 {
    padding:20px;
  }

  h5 {
    font-size: 2rem;
    text-decoration: underline;
    padding-bottom: 10px;
  }

  
  header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1% 1% 1% 0%;    
    background: #2b333b;
  }
  
  
  nav a {
    color: #8ac4ff;
    padding: 14px 20px;
    text-decoration: underline 2px;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--white);
    color: var(--dark-blue);
  }

.aboutme {
    background-color: var(--background2-color);
    margin: 30px 30px;
    display: flex;
  }

  p {
    padding-left: 30px;
    height: 200px;
    font-size: 1rem;

  }
   #aboutmepara {
    color: var(--textColor2);
    padding-left: 30px;
    height: 200px;
    font-size: 1rem;
  }

  #imgmain {
    width: 98%;
    height:auto;
    margin-left: 30px;
    z-index: -1;
    border:10px solid #8ac4ff;
    position: relative;
  }
  .aboutme img {
    width: 47%;
    height:200px;
    height:auto;
    margin-left: 30px;
    z-index: -1;
    position: relative;
    border:10px solid #8ac4ff;
  }

  .border {
    padding: 100px;
    border-right: 5px solid blue;
  }
  
  #pos1 {
    position:absolute;
    bottom: 0; 
    right: 0;
    z-index: 9;
    margin: 5px;
  }
  #pos2 {
    position:absolute;
    bottom: -200px; 
    right: 1150px;
    z-index: 9;
    margin: 5px;
  }
  #pos3 {
    position:absolute;
    bottom: 200px; 
    right: 500px;
    z-index: 9;
    margin: 5px;
  }

  .mywork {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


  footer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 10px;    
    background: #2b333b;
    color: #8ac4ff;
  }

  footer a {
    color: white;
  }
  
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  
  